* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body { 
    text-align: center;
    background: linear-gradient(to right, rgb(255, 0, 0), rgb(0, 255, 255));
    height: 100vh;
}

h1, h2 {
    margin: 30px;
    text-transform: uppercase;
    opacity: 0.8;
}

h1 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 3.5rem;
    letter-spacing: 8px;
    /* color: red; */
    width: 100%;
    text-align: center;
}

h2 {
    letter-spacing: 5px;
    color: #111;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1rem;
    font-weight: 900;
    color: #222;
}

form input {
    padding: 10px;
    outline: none;
    font-size: 1.1rem;
    border: 0;
    margin-left: 10px;
}
 
form input[type='submit'] {
    background-color: #0240dd;
    color: white;
    border: 0;
    width: 150px;
    
}

form input[type='submit']:hover {
    opacity: 0.9;
    box-shadow: 2px 4px 4px rgb(2, 2, 110);
}